.container {
  width: 1920px;
  padding: 0 15px;
  margin: auto;
}

body {
  min-height: 100vh;
  font-family: "Harmonia Sans Pro Cyr";
  display: flex;
  flex-direction: column;
  /* background-color: #b35346; */
  overflow-x: hidden;
}
main {
   flex-grow: 1;
}


/* SITE HERADER PART */

.site-header {
  background-color: #b35346;
  max-width: 100%;
  max-height: 100vh;
}

.header-logo {
  width: 290px;
  padding: 0 15px;
}


.header-nav-list {
  width: 552px;
  align-items: center;
  list-style-type: none;
}


.header-nav-item {
  padding: 40px 0px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.header-nav-item::after {
  content: '';
  position: relative;
  top: 2px;
  left: 40%;
  transform: translate(-40%, 0);
  border-bottom: 2px solid #d88f0f;
  display: block;
  width: 10px;
  transition: all 0.4s linear;
  opacity: 0;
}


.header-nav-item:hover::after {
  width: 100%;
  opacity: 1;
}

.bx-chevron-down {
  position: relative;
  top: 3.5px;
  font-size: 18px;
  color: #fff;
}

.header-nav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.header-login-list {
  list-style-type: none;
  width: 290px;
  padding: 0 15px;
  display: flex;
  justify-content: right;
}

.header-login-item {
  position: relative;
  padding: 10px 0px;
  margin-left: 27px;
  cursor: pointer;
}
.header-login-item:nth-child(1) {
  margin-left: 0px;
}

.icon-login {
  font-size: 24px;
  color: #fff;
}

.drop-home-list {
  display: none;
  z-index: 100;
  position: absolute;
  top: 106px;
  left: 15%;
  list-style: none;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

.drop-home-item {
  padding: 5px;
  padding-bottom: 20px;
  margin: 0 15px;
}

.drop-home-img {
  width: 150px;
  height: 160px;
  transition: all 0.4s linear;
  transform: scale(1);
  margin-bottom: 20px;
}

.drop-home-item:hover .drop-home-img {
  transform: scale(1.02);
}

.drop-home-link {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}
.drop-home-link a {
  text-decoration: none;
  color: #444;
  padding-bottom: 2px;
  border-bottom: 2px solid #d88f0f;
}

.header-nav-item:hover .drop-home-list {
  display: flex;
}

/* DROP CATEGORY PART  */

.header-nav-item:hover .drop-category-nav {
  display: flex;
  z-index: 100;
}

.drop-category-nav {
  display: none;
  position: absolute;
  top: 105px;
  left: 15.5%;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 108px;
}

.drop-category-nav-list {
  list-style-type: none;
  margin-bottom: 20px;
  margin-right: 290px;
}

.drop-category-nav-item {
  position: relative;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-left: 15px;
}

.drop-category-nav-item:nth-child(1) {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  border-bottom: 2px solid #d88f0f;
  margin-bottom: 30px;
  padding-bottom: 2px;
  margin-left: 0;
}

.drop-category-nav-link {
  text-decoration: none;
  color: #444;
}
.drop-category-nav-link::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 5px;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #444;
}

.drop-category-nav-item:hover .drop-category-nav-link {
  color: #d88f0f;
}
.drop-category-nav-item:hover .drop-category-nav-link::before {
  background-color: #d88f0f;
}

.drop-category-nav-img {
  position: absolute;
  top: 65%;
  left: 22px;
  width: 820px;
  height: 108px;
  transition: all 0.5s linear;
}

.drop-category-nav-img:hover {
  transform: scale(1.03);
}


/* DROP SHOP PART  */

.header-nav-item:hover .drop-shop-list {
  display: flex;
  z-index: 100;
}

.drop-shop-list {
  display: none;
  justify-content: space-between;
  width: 1150px;
  position: absolute;
  top: 105px;
  left: 25%;
  background-color: #fff;
  padding: 17px;
  border-radius: 10px;
}

.drop-shop-item {
  margin-bottom: 30px;
}
.drop-shop-item:nth-child(4) {
  margin-bottom: 0px;
}

.drop-shop-item:nth-child(5) {
  margin-bottom: 0px;
}

.drop-shop-item:nth-child(6) {
  margin-bottom: 0px;
}

.drop-shop-imgs {
  display: inline-block;
  width: 350px;
  height: 175px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 5px;
}

.drop-shop-img {
  width: 350px;
  height: 175px;
  transition: all 0.2s linear;
}

.drop-shop-item:hover .drop-shop-img {
  transform: scale(1.01);
}

.drop-shop-link {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.drop-shop-link a {
  color: #444;
  text-decoration: none;
}

/* MODAL SEARCH PART  */

.modal-search {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  animation: search 0.5s linear alternate;
  z-index: 1000;
}

.show {
  display: block;
}

@keyframes search {
  0% {
    height: 0vh;
  }

  100% {
    height: 100vh;
  }
}
.modal-search-conatiner {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.modal-search-box {
  position: relative;
  top: 92px;
  animation: show 0.7s linear;
}

@keyframes show {
  0% {
    top: 0px
  }

  100% {
    top: 92px;
  }
}

.modal-search-text {
  font-family: "Barlow Condensed",sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  color: #222;
  margin-bottom: 20px;
}

.modal-search-input {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-bottom: 2px solid #222;
}

.modal-xbtn {
  position: absolute;
  top: -30px;
  right: 0;
  background: none;
  border: none;
  padding: 15px 15px;
  padding-right: 0px;
}

.modal-xbtn:hover .icon-x {
  color: #d88f0f;
}


.input-search {
  width: 95.5%;
  padding: 15px 0px;
  color: #444;
  font-size: 32px;
  border: none;
}
.input-search:focus {
  outline: none;
  color: #222;
}

.modal-search-btn {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  padding: 15px 15px;
  padding-right: 0px;
}

.modal-search-btn:hover .icon-search {
  color: #d88f0f;
}

.icon-search, .icon-x {
  font-size: 32px;
  color: #222;
}

.icon-x {
  font-size: 48px;
  color: #222;
}

 /* MODAL REGISTER PART */

 .modal-login {
  display: none;
  background-color: #fff;
  width: 320px;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: inherit;
  right: 0;
  padding: 20px 20px 50px;
  height: 100%;
  animation: sign 0.3s linear alternate;
 }

 @keyframes sign {
   0% {
     width: 0px;
   }
   100% {
    width: 320px;
  }
 }

.open {
   display: block;
 }

.off {
   display: none;
   animation: signin 0.5s linear alternate;
 }

 @keyframes signin {
  0% {
    width: 320px;
  }
  100% {
   width: 0px;
 }
}

.modal-login-remove {
  background: none;
  border: none;
  background-color: #cccccc98;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 20px;
}

.modal-login-remove::after, .modal-login-remove::before {
  content: '';
  position: relative;
  top: -3px;
  display: inline-block;
  width: 19px;
  height: 2px;
  background-color: #666;
  transform: rotate(135deg);
  transition: all 0.3s linear;
}
.modal-login-remove::after {
  background-color: #666;
  top: -21px;
  transform: rotate(45deg);
}

.modal-login-remove:hover::after, .modal-login-remove:hover::before {
  transform: rotate(0deg);
}

.modal-login-remove:hover::before {
  transform: rotate(180deg);
}

.modal-login-singin {
  margin-bottom: 20px;
}

.modal-login-sign {
  display: inline-block;
  cursor: pointer;
  width: 50%;
  text-align: center;
  padding: 5px 0;
  font-weight: 600;
  color: #999;
  font-size: 16px;
  text-transform: uppercase;
}
.right {
  color: #222;
  border-right: 1px solid #e6e6e6;
}

.modal-login-form {
  margin-bottom: 10px;
}

.input-email, .input-password {
  width: 100%;
  border: 1px solid #ccc;
  height: 50px;
  color: #666;
  padding: 0.6rem 1rem;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 15px;
}
.input-email:focus, .input-password:focus {
  outline: 1px solid #ccc;
}



.signbtn {
  width: 100%;
  background: #222;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  height: 50px;
  border: none;
  border-radius: 4px;
  margin-bottom: 15px;
}
.signbtn:hover {
  background-color: #d88f0f;
}


.modal-login-forgot {
  display: block;
  text-decoration: none;
  color: #999;
  padding: 4px 0;
  font-size: 15px;
}
.modal-login-forgot:hover {
  color: #d88f0f;
}


.modal-login-list {
  list-style-type: none;
}

.modal-login-item {
  padding: 15px 0px;
  border-bottom: 1px solid #e6e6e6;
}

.modal-login-item:hover {
  color: #d88f0f;
}

.modal-login-item:hover .modal-login-link, .icon-sign {
  color: #d88f0f;
}

.modal-login-item:hover .icon-sign {
  color: #d88f0f;
}
.modal-login-link {
  text-decoration: none;
  color: #222;
}

.icon-sign {
  font-size: 16px;
  color: #222;
  padding-right: 5px;
}

.icon-flag {
max-width: 20px;
padding-right: 3px;
}


/* HERO PART  */

.hero-part {
  width: 100%;
  height: 100vh;
  background-image: url('../img/stark_home3-slide1.jpg');
  background-position: center -110px;
  background-repeat: no-repeat;
}

.hero-box {
  position: relative;
}

.hero-show {
  position: absolute;
  top: 256px;
  width: 442px;
  height: 150px;
  left: 62%;
  background-color: #b35346;
  box-shadow: -29px 1px 39px 6px rgba(179,83,70,0.62);
  z-index: 10;
  animation: heroopen 3s linear;
}
@keyframes heroopen {
  0% {
    left: 38.2%
  }
  100% {
    left: 62%;
  }
}


.hero-part-main {
  position: absolute;
  top: 256px;
  left: 38.2%;
  width: 442px;
  height: 150px;
  background-color: #b35346;
}

.hero-part-text {
  position: relative;
  left: 31.3%;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  font-family: "Barlow Condensed";
  letter-spacing: 5px;
  white-space: nowrap;
  width: 158px;
  height: 18px;
  line-height: 17.5px;
}

.hero-title {
  position: relative;
  top: 25px;
  font-weight: 500;
  font-size: 90px;
  color: #fff;
  font-family: "Barlow Condensed";
  line-height: 90px;
  white-space: nowrap;
  width: 442px;
  height: 90px;
}

.hero-btn {
  position: relative;
  top: 460px;
  left: 45.5%;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14.8828px 34.7266px;
  font-weight: 700;
  font-size: 15px;
  font-family: "Barlow Condensed";
  background: rgb(255, 255, 255);
  color: #000;
  border-radius: 5px;
  line-height: 15.875px;
  animation: herobtn 0.5s linear;
}
@keyframes herobtn {
  0% {
    padding: 0;
  }

  100% {
    padding: 14.8828px 34.7266px;
  }
}


/* SITE MAIN PART  */


/* MAIN REKLAMA PART  */

.main-rek-list {
  list-style-type: none;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 33px;
}

.main-rek-item {
  width: 634px;
  height: 396px;
  position: relative;
  overflow: hidden;
}

.main-rek-item:nth-child(1) {
  background-color: #efebd0;
}
.main-rek-item:nth-child(2) {
  background-color: #f9f9f9;
}
.main-rek-item:nth-child(3) {
  background-color: #caf3eb;
}

.main-rek-box {
  position: absolute;
  top: 22%;
  left: 70px;
  width: 159px;
  text-transform: uppercase;
  z-index: 1;
}

.main-rek-desc {
  position: relative;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #888;
}

.main-rek-title {
  position: relative;
  font-family: "Barlow Condensed",sans-serif;
  font-weight: 500;
  font-size: 60px;
  color: #222;
}

.main-rek-brend {
  font-size: 14px;
  font-weight: 700;
  font-family: "Barlow Condensed",sans-serif;
  letter-spacing: 1px;
  padding: 3px 0;
  border-bottom: 3px solid #d88f0f;
  margin-top: 20px;
  display: inline-block;
  color: #222;
}

.main-rek-img {
  width: 634px;
  height: 396px;
  overflow: hidden;
  transition: all 0.5s linear;
  transform: scale(1.0);
}

.main-rek-item:hover .main-rek-img {
  transition: all 0.5s linear;
  transform: scale(1.1);
}


/* MAIN PRODUCT PART  */

.main-product-list {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 365px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.main-product-item {
  display: inline-block;
  padding: 7px 0;
  font-weight: 600;
  font-size: 20px;
  color: #888;
  text-transform: capitalize;
}

.main-product-item::after, .active::after {
  content: '';
  position: relative;
  top: -9px;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: transparent;
}
.active::after {
  background-color: #d88f0f;
}

.main-product-item:hover::after {
  background-color: #d88f0f;
  animation: border 0.5s linear;
}
@keyframes border {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}


.main-product-item a {
  color: #888;
  text-decoration: none;
}
.main-product-item:nth-child(1) a{
  color: #222;
}



.product-list {
list-style-type: none;
}

.product-item {
  position: relative;
  width: 348px;
  height: 494px;
  padding: 0 15px;
}

.product-box {
  position: absolute;
  top: 10px;
  z-index: 3;
}

.product-sale, .product-sale-new {
  display: inline-block;
  padding: 0 6px;
  margin: 2px 0;
  color: #FFF;
  background: #2fb5d2;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  z-index: 2;
}

.product-sale {
  background-color: red;
}


.product-img, .product-img-hover {
  display: inline-block;
  position: absolute;
  left: 15px;
  width: 318px;
  height: 378px;
  object-fit: cover;
}

.product-img {
  z-index: 1;
}

.product-item:hover .product-img-hover {
  z-index: 2;
}


.product-btn-box {
  position: relative;
  top: 60%;
  left: 20%;
  width: 180px;
}

.product-btn, .product-btn-heart, .product-btn-compres {
  position: absolute;
  background: #222;
  color: #fff;
  border: none;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  padding: 13px;
  box-shadow: 0 1px 15px 0 rgb(0 0 0 / 10%);
}

.product-btn-heart {
  left: 60px;
}
.product-btn-compres {
  left: 120px;
}

.product-item:hover .product-btn-box {
  animation: bt 0.4s linear 0.1s;
  z-index: 3;
}
@keyframes bt {
  0% {
    top: 59%;
  }
  100% {
    top: 60%;

  }
}


.product-btn:hover, .product-btn-heart:hover, .product-btn-compres:hover {
  background-color: #d88f0f;
  z-index: 3;
}

.icon-btn {
  font-size: 24px;
  color: #fff;
}

.product-item:hover .product-btn {
  animation: btn1 0.3s linear alternate 0.4s;
}

.product-item:hover .product-btn-heart {
  animation: btn1 0.3s linear alternate 0.5s;
}

.product-item:hover .product-btn-compres {
  animation: btn1 0.3s linear alternate 0.6s;
}

@keyframes btn1 {
  0% {
    top: -20px;
  }
  100% {
    top: 0px;
  }
}

.main-product-main {
  position: relative;
  top: 80%;
}

.main-product-brend {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
.main-product-brend a {
  text-decoration: none;
  color: #a3a3a3;
}
.main-product-brend:hover a {
  color: #d88f0f;
}


.main-product-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
}
.main-product-title a {
  color: #222;
  text-decoration: none;
}
.main-product-title:hover a {
  color: #d88f0f;
}


.product-pricing {
  color: #222;
  font-weight: 700;
  font-size: 16px;
}

.product-pricing-sale {
  color: #888;
  text-decoration: line-through;
  font-weight: 400;
  font-size: 14px;
}

.product-stars-box {
  position: absolute;
  top: -5px;
  right: 0;
  cursor: pointer;
}

.bxs-star {
  font-size: 15px;
  color: #d8d8d8;
}

.yellow {
  color: #fcbe32;
}

.product-link {
  display: inline-block;
  position: relative;
  left: 42.5%;
  text-align: center;
  background: transparent;
  border: 1px solid #999;
  height: 60px;
  min-width: 280px;
  line-height: 60px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 50px;
  margin: 20px 0 100px;
  font-size: 16px;
  letter-spacing: 3px;
  color: #222;
  font-weight: 600;
  font-family: "Barlow Condensed",sans-serif;
}

.product-link:hover {
  border: none;
  background: #d88f0f;
  color: #fff;
}

/* MODAL PRODUCT PART  */

.modal-product-part {
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.11);
  z-index: 100;
  padding-top: 50px;
  animation: ani 0.4s linear;
}
@keyframes ani {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 50px;
  }
}

.opens {
  display: block;
}

.modal-conatiner {
  position: relative;
}

.modal-product {
  display: block;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 27%;
  width: 820px;
  border-radius: 0px 6px 6px 0px;
  margin-bottom: 15px;
  z-index: 1000;
}

.modal-product-header {
  width: 100%;
  background-color: #333;
  line-height: 1.5;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.fa-check {
  color: #fff;
  font-size: 18px;
}

.modal-product-desc {
  color: #fff;
  font-size: 18px;
}

.modal-product-xbtn {
  border: none;
  background: none;
  cursor: pointer;
}

.xbtn{
  color: #fff;
  font-size: 22px;
}


.modal-product-box {
  width: 100%;
  padding: 15px;
}

.modal-product-img {
  width: 263px;
  height: 331px;
  overflow: hidden;
}

.modal-product-main {
  width: 66%;
  padding: 0 15px;
}

.modal-product-title {
  font-size: 14px;
  font-weight: 500;
  color: #222;
  text-decoration: none;
  padding-bottom: 16px;
}

.modal-product-price {
  font-weight: 400;
  font-size: 14px;
  color: #666;
}
.small-text {
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.2em;
}

.modal-product-text {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  padding-top: 24px;
  margin-bottom: 14px;
}


.modal-product-total {
  font-weight: 600;
  color: #666;
  font-size: 14px;
  margin-bottom: 12.8px;
}

.price-color {
  font-weight: 500;
}

.modal-product-link {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  padding: 16px 24px;
  background-color: #f11d22;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.modal-product-btn {
  width: 100%;
  color: #414141;
  background-color: rgba(160,160,160,.25);
  border-color: transparent;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 20px;
}


/* MODAL MESSAGE PART  */

.message-btn {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border:none;
  display: inline;
  cursor: pointer;
  background-color: #0a7cff;
  z-index: 200;
}

.bxl-messenger {
  font-size: 52px;
  color: #fff;
}


.modal-message-box {
  display: none;
  position: fixed;
  bottom: 10%;
  right: 20px;
  width: 375px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 12px 0 hsla(0, 0%, 0%, 0.149);
  padding: 25px 20px;
  z-index: 200;
  animation: msg 0.3s ease-in;
}

@keyframes msg {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 375px;
    height: 410px;
  }
}

.on {
  display: block;
}

.modal-message-icon {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  overflow: hidden;
}

.modal-message-dot {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
}

.bx-dots-horizontal-rounded, .bx-minus {
  position: relative;
  top: 2px;
  font-size: 24px;
}


.modal-message-remove {
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.modal-message-desc {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-top: 27px;
  margin-bottom: 4px;
}

.modal-message-text {
  font-size: 13px;
  font-weight: 600;
  color: #00000080;
  margin-bottom: 16px;
}

.modal-message-help {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
}

.modal-message-sign, .modal-message-guest {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #0a7cff;
  padding: 0 30px;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  width: 100%;
  min-height: 52px;
}

.icon-msg {
  font-size: 26px;
  margin-right: 5px;
  position: relative;
  top: -2px;
}


.modal-message-guest {
 background-color: rgba(0, 0, 0, .05);
 color: #000;
 margin-bottom: 24px;
}

.modal-message-copy {
  color: rgba(0, 0, 0, .5);
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

.modal-message-link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.modal-message-link:hover {
  text-decoration: underline;
}



/* OUR BLOGS PART  */

.main-our {
  padding: 100px 0px;
}

.main-our-title {
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.1;
  color: #222;
  text-align: center;
  margin-bottom: 50px;
}

.main-our-text {
  color: #666;
  font-weight: 400;
  line-height: 23px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}

.main-our-list {
  list-style-type: none;
  margin-bottom: 40px;
}

.main-our-item {
  width: 477px;
  height: 517px;
  padding: 0px 15px;
  overflow: hidden;
  text-align: left;
}

.main-our-img {
  display: block;
  width: 447px;
  height: 321px;
  overflow: hidden;
  margin-bottom: 15px;
}

.imgs {
  transition: all 0.5s linear;
}

.main-our-img:hover .imgs {
  transform: scale(1.1) rotate(2deg);
}

.main-our-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 15px 0 20px;
  color: #222;
  white-space: pre;
}
.main-our-subtitle a {
  text-decoration: none;
  color: #222;
}
.main-our-subtitle:hover a{
  color: #d88f0f;
}

.main-our-link:hover {
  color: #d88f0f;
}

.main-our-hashtag {
  color: #666;
  line-height: 1.25em;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main-our-hashtag a {
  text-decoration: none;
  color: #222;
}
.main-our-hashtag:hover a {
  color: #d88f0f;
}


.main-our-desc {
  font-size: 14px;
  color: #666;
  line-height: 1.25em;
  margin-bottom: 25px;
}

.main-our-link {
  display: inline-block;
  padding-bottom: 3px;
  font-size: 16px;
  color: #222;
  border-bottom: 1px solid;
  text-decoration: none;
  text-transform: capitalize;
}
.main-our-link:hover {
  color: #d88f0f;
  border-bottom: 1px solid #d88f0f;
}

.main-our-links {
  display: inline-block;
  position: relative;
  left: 45%;
  border: 1px solid #e6e6e6;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 40px;
  min-width: 200px;
  letter-spacing: 1px;
  color: #222;
}
.main-our-links:hover {
  background-color: #222;
  color: #fff;
}



/* MAIN BANNER PART  */


.main-brand {
  background: #f7f7f7;
  padding: 20px 0;
}

.main-brand-list {
  list-style-type: none;
}



.main-brand-item {
  width: 113px;
  height: 108px;
  margin: 0px 48px;
  animation: brand 2s linear infinite alternate;
}
@keyframes brand {
  0% {
    transform: translate3d(-350px, 0, 0);
    animation-delay: 2s;
  }
  20% {
    transform: translate3d(-100px, 0, 0);
    animation-delay: 2s;
  }
  40% {
    transform: translate3d(0px, 0, 0);
    animation-delay: 2s;
  }

  60% {
    transform: translate3d(0px, 0, 0);
    animation-delay: 2s;
  }

  80% {
    transform: translate3d(100px, 0, 0);
    animation-delay: 2s;
  }

  100% {
    transform: translate3d(350px, 0, 0);
    animation-delay: 2s;
  }
}
/* SITE MAIN END PART */


/* SITE FOOTER PART  */

.site-footer {
  background: #23282e;
  padding-top: 100px;
}

.footer-site {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 97px;
  height: 28px;
  margin-bottom: 40px;
}

.footer-box {
  width: 725px;
  background-color: #fff;
  margin-bottom: 36px;
}

.footer-text {
  background-color: #fff;
  border-right: 1px solid #f2f2f2;
  padding: 0px 30px;
  width: 147px;
  margin-right: 10px;
  line-height: 55px;
  font-size: 15px;
  font-weight: 600;
  color: #222;
  text-transform: uppercase;
}

.footer-input {
  border: 1px solid #fff;
  color: #999;
  background-color: #fff;
  height: 55px;
  font-size: 14px;
  width: 398px;
  padding: 0 12px;
  line-height: 1.25;
}
.footer-input {
  outline: none;
}


.footer-btnsubs {
  background: #222;
  border: none;
  text-transform: uppercase;
  color: #fff;
  padding: 0 20px;
  width: 170px;
  height: 55px;
  line-height: 50px;
  font-size: 14px;
  right: 1px;
}
.footer-btnsubs:hover {
  background-color: #d88f0f;
}

.socical-list {
  list-style-type: none;
  margin-bottom: 126px;
}

.socical-item {
  margin: 0 10px;
}

.icon-socical {
  font-size: 25px;
  color: #fff;
}

.footer-nav-list {
  list-style-type: none;
  margin-bottom: 46px;
}

.footer-nav-item {
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Barlow Condensed",sans-serif;
}

.footer-link {
  text-decoration: none;
  color: #fff;
}


.footer-part {
  padding: 30px 0;
  border-top: 1px solid rgba(255,255,255,.1);
}

.footer-copright {
  color: #fff;
  line-height: 23px;
  font-weight: 400;
  font-size: 14px;

}

.partner-img {
  width: 300px;
  height: 18px;
}


/* SITE FOOTER PART END */